/* CSS code */

/* Table style */
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f0f0f0;
  }
  
  /* Image style */
  img {
    width: 250px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  /* Header style */
  h2 {
    margin-top: 0;
    color: #333;
  }
  
  /* Button style */
  a[href="crud.php"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  a[href="crud.php"]:hover {
    background-color: #d0dad1;
  }

  a[href="berita.php"] {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  a[href="berita.php"]:hover {
    background-color: #a5abb1;

  }
  body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 20px;
}

h2 {
    color: #343a40;
    text-align: center;
}

a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

a:hover {
    color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #dee2e6;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #343a40;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

